body {
	margin:0px;
}

h1 {
	font-family: "Roboto", sans-serif;
	color: #FFFFFF;
	text-align: center;
}

h1.section {
	font-family: "Lato", sans-serif;
	font-weight: bold;
}

h2 {
	font-family: "Oxygen", sans-serif;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
}

h2.center {
	color: black;
	font-family: "Montserrat", sans-serif;
}

h2.thin {
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	line-height: 150%;
}

h2.dark {
	color: black;
}

h3 {
	font-family: "Lato", sans-serif;
	font-size: 140%;
}

h3.name {
	color: #FFFFFF;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	margin: 0 auto;
	font-weight: lighter;
}

h4 {

}

p {
	font-family: 'Lato', sans-serif;
	line-height: 200%;
	font-weight: lighter;
}

p.center {
	text-align: center;
}

p.white {
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
}

p.emphasis {
	color: #3D007A;
	font-size: 110%;
	font-weight: bold;
}

a { 
	text-decoration: none;
	color: #FFFFFF;
	-webkit-transition: color 1.0s ease;
}

a:hover {
	color: #33ADFF;
}

a.gray {
	color: black;
	text-decoration: none;
	font-size: 125%;
}

a.white {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 125%;
}

ul { list-style-type: none;
	text-decoration: none; }

li {
	color: black;
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-size: 125%;
	line-height: 150%;
	list-style-type: none;
	display: inline;
	padding: 15px;
}

header {
	background: rgba(0,0,0,0.3);
	padding:1em;
	margin: 0 auto;
	position: absolute;
	z-index:2;
	width: 100%;
	display: table;
	box-sizing: border-box;
}

.main-wrapper {
	margin: 0 auto;
	width: 100%;
	padding: 0px;
	padding-bottom: 50px;
}

.main-wrapper h1 {
	color: black;
}

.featured-background {
	background: white;
}

.navbar {
	width: 14.3%;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
}

.overlay {
	background: rgba(25,40,40,0.6);
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-bar {
	background-color: #5f9ea0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.project-block {
	width: 100%;
	float: left;
	margin:0 auto;
	padding: 0% 0% 8% 0%;
}

.project-name {
	background: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 2;
}

.project {
	width: 46%;
	margin: 2%;
	float: left;
	position: relative;
}

.project-3 {
	width: 31.33%;
	margin: 1%;
	float: left;
	position: relative;
	height: 300px;
	-webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
/*	border-radius: 25px;*/
}

.project-fingerreader {
	background-image: url('../images/fingerreader.jpg');
	background-size: cover;
}

.project-3:hover {
	 cursor: pointer;
	 opacity: 0.7;
}

.project-zipper {
	background-image: url('../images/osl-zipper.jpg');
	background-size: cover;
}

.project-penpal {
	background-image: url('../images/penpal.jpg');
	background-size: cover;
}
.project-dfa {
	background-image: url('../images/dfa-booth-2.jpg');
	background-size: cover;
}
.project-swe {
	background-image: url('../images/swe-cpl.jpg');
	background-size: cover;
}


.project-box {
	width: 48%;
	margin: 1%;
	float: left;
	position: relative;
}

.project-circle {
	border-radius: 10px;
}

.big-project {
	width: 48%;
	margin: 1%;
	float: left;
	overflow: hidden;
	position: relative;
	height: 400px;
	-webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

.big-project:hover {
	 cursor: pointer;
	 opacity: 0.7;
}

.summary {
	margin: 0 auto;
	margin-top: 100px;
	width: 75%;
	display: table;
	box-sizing: border-box;
}

.role {
	width: 28.5%;
	margin: 3%;
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.role-icon {
	margin: 0 auto;
	height: 75px;
	margin-bottom: 50px;
}

.wrench {
	background-image: url('../images/wrench-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.social-bar {
	width: 20%;
	margin: 0 auto;
	padding-top: 15px;
	display: table;
	box-sizing: border-box;
}

.social-icon {
	height: 60px;
	display: table-cell;
	margin: 0 auto;
}

#front-pic {
	margin: 0 auto;
	text-align: center;
	min-height: 100%;
	min-width: 100%;
}

#hello {
	margin: 0 auto;
	text-align: center;
	background-image: url(../images/Lisbon-32.jpg);
	background-size: cover;
	background-position: center;
}

.content {
	width: 75%;
	margin: 0 auto;
}

#engineering {
/*	background-color: #B8C0D6;*/
}

#personal {
/*	background-color: #B8C0D6;*/
}

#contact {
	padding-bottom: 3%;
}

img {
	vertical-align: bottom;
	opacity: 1.0;
	filter: alpha(opacity=100);
}

img.clickable {
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.5s ease;
}

.clickable:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}


